<%- include('../includes/head.ejs') %>
    <%- include('../includes/navigation.ejs') %>
        <main>
            <form class="login-form" action="/reset" method="POST">
                <div class="form-control">
                    <label for="email">E-Mail</label>
                    <input type="email" name="email" id="email">
                </div>
                <button class="btn" type="submit">Reset</button>
            </form>
        </main>
        <%- include('../includes/footer.ejs') %>
        <%- include('../includes/end.ejs') %>