<%- include('includes/head.ejs') %>
    <%- include('includes/navigation.ejs') %>
    <main>
        <div class="error404">
            <h1>404</h1>
            <h1>page not found</h1>
        </div>

    </main>
        <%- include('includes/end.ejs') %>